<%= render 'shared/page_title', title: "All Recipes" %>

<div class="col-md-offset-4 col-md-4">
  <% @recipes.each do |recipe| %>
  <div class="col-md-2">
    <div class="row">
      <section class="chef_info center">
        <%= gravatar_for recipe.chef, size: 100 %>
        <h5><b>Chef Name: </b><%= recipe.chef.chefname %></h5>
      </section>
    </div>
  </div>
  <%= image_tag(recipe.picture.url, size: "250x150", class: "recipe-image") if recipe.picture? %>
  <p>
    <b>Name:</b> <%= link_to recipe.name, recipe_path(recipe) %>
  </p>
  <p>
    <b>Summary:</b> <%= recipe.summary %>
  </p>
  <p>
    <b>Description:</b> <%= recipe.description %>
  </p>
  <p>
    <small><%= time_ago_in_words(recipe.created_at) %> ago...</small>
  </p>
  <br><br>
  <% end %>
</div>
