<%= render 'shared/page_title', title: @recipe.name %>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <%= gravatar_for @recipe.chef, size: 200 %>
    <p>
      <b>Created by: </b> <%= @recipe.chef.chefname %>
    </p>
    <h1><%= @recipe.name %></h1>
    <h2><%= @recipe.summary %></h2>
    <h3><%= @recipe.description %></h3><br>
    <%= link_to "Edit", edit_recipe_path, class: "btn btn-success"%>
  </div>
</div>
